@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
:root {
  --background-color: var(-- #ebf7e3);
  --button-color: var(--#9bd770);
  --font-color: var(--#1b3409);
  --headings-color: var(--#66b032);

}

.logo, .navbar-brand{
width: 50px;
}
.nav-link {
  color: blue;
}

.link{
  display:grid;
  margin: auto 5px;
}
.navLink{
  text-decoration: none;
  color: #44c398;
  font-family: 'Montserrat';

}
.nav{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center; 
  justify-items: center;
  justify-self: center;
  padding: 25px 100px;
  margin:  auto;
  
}
#root {

  font-family: 'Quicksand', ;

  
}


.newPlants{
  display:grid;
  grid-template-rows: 1fr 1fr;
}
form{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.home-button{
  display: flex;
  padding: 20px;
  font-size: 21px;
  margin: 30px  auto;

}
.pests{
  text-decoration: none;
  color: black;

}
.pests:hover {
  color: pink;
}

