@import './index.scss';
.log-in{
    background-color: $forest-green;
    border: 1px solid $forest-green;
    color: white;
    padding: 1rem 1.5rem;
    transition: all .5s ease-in-out;
    border-radius: 3rem;
    &:hover, &:focus{
        transition: all .5s ease-in-out;
        background-color: $forest-green;
        border-color: $forest-green;
        color: white;

    }
    @include bp-large{
        width: 11rem;
        background-color: $forest-green;
        color: white;
    }
   
}
.sign-up{
    background-color: unset;
    border: 1px solid $forest-green;
    padding: 1rem 1.5rem;
    color: $forest-green;
    transition: all .5s ease-in-out;
    border-radius: 3rem;
    &:hover, &:focus{
        background-color: $blush;
        transition: all .5s ease-in-out;
        
    }
    @include bp-large{
        width: 11rem;
        
    }
   
}
