@import './index.scss';
.mobile-login{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    
}
.log-in{
    background-color: white;
    border: 1px solid $gray;
    padding: 1rem 1rem;
    color: $gray;
    transition: all .5s ease-in-out;
    &:hover, &:focus{
        transition: all .5s ease-in-out;
        background-color: $forest-green;
        border-color: $forest-green;
        color: white;

    }
    @include bp-large{
        width: 11rem;
        background-color: $forest-green;
        color: white;
    }
   
}
.sign-up{
    background-color: unset;
    border: 1px solid $forest-green;
    padding: 1rem 1rem;
    color: $forest-green;
    transition: all .5s ease-in-out;
    &:hover, &:focus{
        background-color: $blush;
        transition: all .5s ease-in-out;
        
    }
    @include bp-large{
        width: 11rem;
        
    }
   
}
