
@import 'sass/fonts';
@import 'sass/colors';
@import  'sass/break-points';
@import 'sass/base';
body {
  margin: 0;
  

  
}
main{
  max-width: 2000px;
  margin: 0 auto;
  
 
  padding-top:100px;
  @include bp-large {
   
   
    padding-top: 70px;
  }
  @include bp-medium {
    padding-top: 60px;
  }
  
}

.homepage{
  padding-top:0;
 
}


