@import '../../index.scss';

.signup-container{
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    @include bp-x-large{
        display: block;
    }

    #signup{
        margin-bottom: 100px;
        margin-top: 150px;
        padding: 50px;
        .image{
            background-image: url(../../img/signup.svg);
            background-position: left;
        }
        .content{
            h2{
                text-align: left;
            }

        }
        @include bp-x-large{
            margin-bottom: unset;
            .image{
                background-position: center;
            }
            .content{
                h2{
                    text-align: center;
                }
            }
        }
        
    }
    .form{
        background-color: $blush;
        border-radius: 5rem 0rem;
        padding: 4rem;
        margin-top: 10rem;
        width: 90%;
        margin: 0 auto;
        
        @include bp-x-large{
            margin-top: 3rem;
            margin-bottom: 10rem;
        }
        @include bp-medium{
            border-radius: 3rem 0;
        }
        @include bp-medium{
            border-radius: 3rem 0;
            margin-top: 2rem;
            margin-bottom: 5rem;
        }
        h4{
            margin-bottom: 3rem;
            color: $gray;
        }
        form{
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            button{
                background-color: $peach;
                &:hover, &:active{
                    background-color: white;
                }
            }
        }

        
       
    }
  
}