@import "../../index.scss";

.care-tips {
    padding-top: 0 !important;
  .careHeading {
    text-align: center;
  }
  .care-list{
    padding-bottom:40px;
    @include bp-medium{
        padding-bottom:20px;
       }
  }
  .paragraphs {
    padding-bottom: 20px;

    .subtitle2 {
      color: $forest-green;
      font-weight: 600;
    }

    h6 {
      color: $gray;
      margin-bottom: 2rem;
      font-weight: 400;
    }

    h5 {
      color: $gray;
      margin-bottom: 1rem;
      font-weight: 300;
    }
  }
}
