@import '../../index.scss';
#care-tips{
    position: relative;
    background-color: $light-gray;
    .image{
        background-image: url('../../img/woman-watering-plants.svg.svg');
    }
   
}
.care-tips{
    .careHeading{
       text-align: center;
    }
    .care-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: start;
        margin: 0 auto;
        row-gap: 1rem;
        column-gap: 1rem;
        @include bp-large{
            display: flex;
            flex-direction: row;
            overflow: hidden;
            overflow: scroll;
            &::-webkit-scrollbar { 
                display: none;  
            }
        }
        .symbols{
            @include bp-large{
                border: 1px solid $forest-green;
                border-radius: 4rem;
                padding: 1rem 2rem;
                background-color: white;
                transition: all .5s ease-in-out;
                &:hover{
                    transition: all .5s ease-in-out;
                    background-color: $blush;
                    border-color: $blush;
                    h6{
                        color: $white;
                        
                    }
                }
            }
        }
       a{
           @include bp-large{
            text-decoration: none;
           }
          
        .care{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            svg{
                height: 5rem;
                width: 5rem;
                @include bp-large{
                    height: 3rem;
                    width: 3rem;

                }
                g{
                    fill: $forest-green;
                    transition: fill .5s ease-in-out;
                }
                path{
                    fill: $forest-green;
                    transition: fill .5s ease-in-out;
                }
               
            }
            h5{
                color: $forest-green;
                margin-bottom: unset;
                margin-left: 1em;
                @include bp-large{
                    font-size: 1.4rem ;
                   
                }
            }
    
        }

       }
        
    }

}
