@import "../../index.scss";

.care-tips {
    padding-top: 0 !important;
  .careHeading {
    text-align: center;
  }
  .care-list{
    padding-bottom:40px;
    @include bp-medium{
        padding-bottom:20px;
       }
  }
  .paragraphs {
    padding-bottom: 2rem;
  

    .subtitle2 {
      color: $forest-green;
      font-weight: 600;
      padding-bottom:1.4rem;
    }

    h6 {
      color: $gray;
      margin-bottom: 1rem;
      font-weight: 400;
    }
    p{
      padding-bottom: 1rem;
    }

    // h5 {
    //   color: $gray;
    //   margin-bottom: 1rem;
    //   font-weight: 300;
    // }
  }
}
