html{
  font-size: 62.5%;	
  
}
body {
	margin:0;
	padding:0;
	overflow-x: hidden;
	font-family: $body-font;
}
* {
	box-sizing: border-box; 
}


h1, h2, h3, h4, h5, p, button {
	font-family: $header-font;
	margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-weight: 300;
  font-size: 9.6rem;
  letter-spacing: -1.5px;
  @include bp-large{
    font-size: 8.4rem;
  }
}

h2 {
  font-size:6rem ;
  font-weight: 300;
  color: $peach;
  letter-spacing: -0.5px;
  @include bp-large{
    font-size: 5.25rem;
  }
}

h3 {
  font-size: 4.8rem;
  color: $forest-green;
  font-weight: 500;
  @include bp-large{
    font-size: 4.2rem;
  }
}

h4 {
  font-size:3.4rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  @include bp-large{
    font-size: 2.975rem;
  }
}

h5{
  font-size: 2.4rem;
  font-weight: 500;
  color: $forest-green;
  @include bp-large{
    font-size: 2.1rem;
  }
}
h6{
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: .15px;
  margin: unset;
  margin-bottom: 1rem;
  color: $gray;
  @include bp-large{
    font-size: 1.75rem;
  }
}

.subtitle{
  font-family: $body-font;
  font-size: 1.8rem;
  letter-spacing: 0.15px;
  font-style: italic;
  font-optical-sizing: $gray;
}
.subtitle2, ul{
  font-family: $body-font;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: $gray;
  margin-bottom: .5rem;
  @include bp-small{
    font-size: 1.2rem;
  }

 

}
p, li, .body{
  letter-spacing: 0.5px;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  // line-height: 1.75;
  font-weight: 400;
  color: $gray;
  text-transform: capitalize;
  @include bp-medium{
    font-size: 1.4rem;
    letter-spacing: .25px;
  }
}
.overline{
  font-family: $body-font;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;

}
.italic{
  font-style: italic;
  font-weight: 400;
}

button{
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.25px;
  font-family: $body-font;
  border:none;
  box-shadow: unset;
  text-transform: uppercase;
  margin: 0;
}

a {
  font-family: $body-font;
  letter-spacing: 1.25px;
	text-transform: uppercase;
  transition: color 1s;
	font-size: 1.4rem;
	font-weight: 600;
	text-decoration: unset;
	cursor: pointer;
	&:hover, &:active, &:focus {
        transition: all .5s;
        text-decoration: underline;
	}
}

//Images 
img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

a{
    font-size: 1.4rem;
    letter-spacing: 1.25px;
    color: $forest-green;
    font-family: $body-font;
    text-decoration: none;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
        transition: all 1s;
        color: $forest-green;
        text-decoration: underline;
        text-underline-offset: .5rem;
	}
}
// #main{
//     position: relative;
// }
.intro{
    padding: 50px 100px;
    @include bp-large{
      padding: 40px 50px;
    }
    @include bp-small{
      padding: 30px 20px;
    }
  }

  .cover{
    position: relative;
    z-index: -1;  
    background-size: cover;
    background-position: center;
    height: 600px;
    @include bp-x-large{
     height: 800px;
    }
    @include bp-small{
      height: 675px;
    }
    .header-content{
      padding-left: 100px;
      position:relative;
      width: 45%;
      top: 50%;
      transform: translate(0, -50%);
     
      @include bp-x-large{
        top: 21%;
        transform: unset;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-left:unset;
      }
      @include bp-medium{
        top: 15%;
      }
      h4{
        color: $gray;
        z-index: 2;
        margin-bottom: 0;
        height: unset;
        text-transform: capitalize;
        text-align: center;
        border-radius: 0 5rem 5rem 0;
        text-align: left;
        margin-bottom: 1rem; 
        @include bp-x-large{
         width: 100%;
         text-align: center;
         }
      }
      .subtitle{
        font-style: normal;
        margin-bottom: 4rem;
        color: $gray;
      }
    .buttons{
      display: flex;
      flex-direction: row;
      @include bp-x-large{
        justify-content: center;
        column-gap: 1rem;
      }
      button{
        height: 5rem;
        padding: 0 2rem;
        margin-right: 2rem;
        width: 45%;
        color: $gray;
        max-width: 220px;
        border-radius: 3rem;
      }
      #one{
        background-color: $peach;
        @include bp-x-large{
          background-color: $forest-green;
          color: white;
          margin-right: unset;
          &:hover, &:focus{
            background-color: $blush;
          }
        }
      }
      #two{
        border: 1px solid $peach;
        background-color: white;
        @include bp-x-large{
          margin-right: unset;
          &:hover, &:focus{
            background-color: $blush;
          }
        }
      }
    }

    }

      
    .square{
      position: absolute;
      height: 80%;
      width: 45%;
      background-color: $peach;
      top: 0;
      right: 0;
      min-width: 670px;
      border-bottom-left-radius: 50px;
      @include bp-x-large{
        width: 100%;
        min-width: unset;
        border-radius: unset;
      }
      .home-image{
        height: 100%;
        position: relative;
        img{
          content: url('../img/home-vector-1.svg');
          width: 90%;
          position: absolute;
          bottom: -20%;
          left: 50%;
          right: -50%;
          transform: translate(-50%, 0);
          max-height: 350px; 
          min-height: 150px;
          @include bp-x-large{
            min-height: unset;
          }
          @include bp-medium{

          }
        }
       
        
      }

    }
    


    
}
input,select,textarea,input::placeholder{
    font-size: 2.4rem;
    font-weight: 500;
    color: $gray;
    font-family: $body-font;
    border: unset;
    border-bottom: 1px solid $forest-green;
    background-color: unset;
    text-transform: capitalize;
    width: 100%;
    height: 4rem;
    border-radius: unset;
    -webkit-appearance: none;         
    -moz-appearance: none;
    appearance: none;
    @include bp-large{
      font-size: 2.1rem;
    }
    @include bp-medium{
      font-size: 1.8rem;
    }
    
    
    
}

input,select, textarea{
  margin-bottom: 2rem;
  outline:none;
}

input::-webkit-date-and-time-value {
  height: 1.5em;
}
@include bp-large{
  input[type="date"]:not(:valid):before {
    content: attr(placeholder);
    padding-right: 1rem;
    
  }
}


