body {
	margin:0;
	padding:0;
	overflow-x: hidden;
	font-family: $body-font;
	font-size: 16px;
	
}
* {
	box-sizing: border-box; 
}
h1, h2, h3, h4, h5 {
	font-family: $header-font;
	margin-top: 0;
	margin-bottom: 1rem;
}

a{
    font-size: 20px;
    color: $forest-green;
    font-family: $link-font;
    text-decoration: none;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
        transition: all 1s;
        color: $turquise;
        font-size: 22px;
        text-decoration: underline;
	}
}

h1{
    font-family: $header-font;
    text-transform: capitalize;
    color: $gray;
}

#main{
    position: relative;
    top: -95px;
}
.intro{
    padding: 50px 100px;
    @include bp-large{
      padding: 40px 50px;
    }
    @include bp-small{
      padding: 30px 20px;
    }
  }

  .cover{
    height: 90vh; 
    max-height: 600px;
    background-image: url('../img/home.jpeg'); 
    position: relative;
    z-index: -1;  
    background-size: cover;
    background-position: center top;
    min-height: 600px;
    &:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width: 100vw;
        height: 100%;
        display:inline-block;
        background-color: $peach;
        opacity: .2;
    }

}