$peach-dark: #d89687;
$peach:  #dcb1a8;
$white: #eaece8;
// $forest-green: #017260;
$forest-green: #007c77;
$turquise: #65a499;
$periwinkle: #a5c2df;
$gray: #16314f;
$blush: #f3e7e2;
// $blush: #e0cac6;
$light-gray: #BEC6CE;
$yellow: #F2AA4B;
$light-green: #BFDBD7;