$peach: #d89687;
$white: #eaece8;
$forest-green: #017260;
$turquise: #80B8AF;
$periwinkle: #a5c2df;
$gray: #16314f;
$blush: #f3e7e2;
$light-gray: #BEC6CE;
$yellow: #F2AA4B;
$light-green: rgb(128, 184, 175);