

@import '../../index.scss';
#plant-logs{
    .image{
        background-size: 860px;
            -webkit-mask-image: url('../../img/brush-stroke.svg');
            background-size: cover;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: auto;
            -webkit-mask-position: right;
            // -webkit-mask-position: center;
        }
}
.plant-logs{
   
.notes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: stretch;
    @include bp-large{
        grid-template-columns: 1fr 1fr;
    }
  
    @include bp-small{
        grid-template-columns: 1fr;
    }
  

    .note{
        border: $blush 1px solid;
        padding: 3rem 0;
        border-radius: 5rem;
        width: 100%;
        padding-bottom: 0rem;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @include bp-medium{
            border-radius: 3rem;
        }

        .overline{
            color: $gray;
            margin-bottom: 1rem;
            padding-bottom: unset;
            padding: 0 3rem ;
            color: $gray;
        }
        h4{
            margin-bottom: 2rem;
            padding: 0 3rem ;
            color: $forest-green;
        }
        .todos{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            padding: 0 3rem ;
            padding-top: 1rem;
            svg{
                height: 45px;
                width: 45px;
                margin-right: 2rem;
                path{
                    fill: $gray;
                }
            }

        }
        p{
            margin-bottom: 2.6rem;
            padding: 0 3rem ;
        }
        button{
            align-self: flex-end;
          position: relative;
          margin-top:auto;
        }
       
    }

}
}