@import '../../index.scss';

#update-plant{
       overflow: hidden;
       position: fixed;
       top: 0;
       bottom: 0;
       right: 0;
       left: 0;
       background-color: pink;
       z-index: 10;
       
}
.update-show{
    height: 100vh;
    width: 100vw;

}
.update-hide{
    height: 0;
    width: 0;
}
