@import '../../index.scss';
#pestPage{
    background-color: $periwinkle;
    .image{
        background-image: url('../../img/pest-care.svg');
    }
}
.pestPage {
   
    .column{
        display: flex;;
        flex-direction: column;
        width: 100%;
        row-gap: 2rem;
        .active{
            padding-top: 2rem;
        }
        .card{
            
           .accordion{
            //    display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                border: 1px solid $gray;
                height: fit-content;
                min-height: 5rem;
                padding: 0 2rem;
                margin-right: 2rem;
                border-radius: 2.5rem;
                position: relative;
                
               
                .title{
                    padding-top: 1rem;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: space-between;
                    h5{
                        margin-bottom: unset;
                        transform: translateY(0);
                        transition: transform .5s ease-in;
                        background-color: white;
                        padding: 0 1rem;
                        color: $gray;
                    }


                    .translate{
                        transform: translateY(-2.5rem);
                        position: relative;
                        z-index: 2;
                        transition: transform .5s ease-in;
                    }
                    svg{
                        fill: $gray;
                        // position: absolute;
                        // right: 2rem;
                        height: 20px;
                        width: 20px;
                        transform: unset;
                        transition: transform .5s ease-in;
                        // top: 50%;
                        // transform: translateY(-50%);
                        background-color: white;
                        
    
                    }
                    .open{
                        transition: transform .5s ease-in;
                        transform: translateY(-2.3rem) rotate(
                            45deg);
                        
                    }
                }
                
               
                
           }
           #pest-card{
               display: grid;
               grid-template-columns: 350px 1fr;
               align-items: center;
               @include bp-large{
                grid-template-columns: 250px 1fr;
               }
               @include bp-medium{
                grid-template-columns: 200px 1fr;
               }
               @include bp-small{
                grid-template-columns: 1fr;
                grid-template-rows: 200px 1fr;
                justify-items: center;
               }
               .img{
                   height: 300px;
                   width: 90%;
                   border-radius: 3rem;
                   overflow: hidden;
                   position: relative;
                   @include bp-large{
                     height: 250px;
                   }
                   @include bp-medium{
                    height: 200px;
                   }
                    @include bp-small{
                        width: 100%;
                        margin-bottom: 3rem;
                    
                   }
                   svg{
                       display: none;
                       height:100%;
                       width: 100%;
                       position: absolute;
                       z-index: 1;
                       top: 0;
                   }
                   img{
                       position: absolute;
                       object-fit: cover;
                       height: 100%;
                       z-index:0;
                       top: 0;
                       mask-image: url('../../img/outline.svg');
                        mask-size: contain;
                        mask-repeat: no-repeat;
                        mask-position: center;
                    }
                }
                .content{
                    .subtitle2{
                        color: $forest-green;
                    }
                }
            }
            
            
            .hidden{
                max-height:0px;
                overflow: hidden;
                transition: max-height .5s ease-in-out, padding-top .5s ease-in-out, opacity .5s ease-in-out; 
                padding-top: 0;
                opacity: 0;
            }
            .show{
                // padding-top: 5rem;
                margin-bottom: 3rem;
                height: fit-content;
                max-height: 500px;
                transition: max-height .5s ease-in-out, opacity 1s ease-in-out; 
                opacity:1;
                @include bp-small{
                    height: 100%;
                    transition: height .5s ease-in-out, opacity 1s ease-in-out; 
                }
            }
            .plant-id{
                margin-top: auto;
            }
        }
    }
}

 

