.care-box{
    display: flex;
    flex-direction: row;
    .care-type{
        display: flex;
        flex-direction: column;
        input{
            display: none;
        }
        label{
            svg{
                height: 30px;
                width: 30px;
                &:hover, &:focus{
                    g{
                        fill: pink;
                   }
                    path{
                        fill: pink;
                    }
                }
                }
            }
            .clicked{
                g{
                    fill: pink;
                }
                path{
                    fill: pink;
                }
               
                
            }
        

    }
   
}