@import '../index.scss';
#plant-logs{
    .cover{
        background-image: url(../img/plant-tracker.png);
        h1{
            position:relative;
            top: 50%;
            transform: translate (0, -50%);

        }
    }
    .leger{
        display: none;
        flex-direction: row;
        svg{

            height: 40px;
            width: fit-content;
            margin: 2rem;
        }
    }
   
.notes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:stretch;
    justify-items: center;
    @include bp-large{
        grid-template-columns: 1fr 1fr;
    }
  
    @include bp-medium{
        grid-template-columns: 1fr;
    }
  

    .note{
        border: $blush 1.5px solid;
        padding: 4rem;
        border-radius: 1rem;
        width: 100%;
       
        h4{
            color: $gray;
            margin-bottom: 3.6rem;
        }
        h3{
            margin-bottom: 2.6rem;
        }
        .todos{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            svg{
                height: 45px;
                width: 45px;
                margin-right: 2rem;
                path{
                    fill: $gray;
                }
            }

        }
        p{
            margin-bottom: 2.6rem;
        }
      button{
          height: 7rem;
          background-color: $blush;
          border-radius: 1rem;
          padding: 0 2rem; 
      }
       
    }

}
.care-box{
    display: flex;
    flex-direction: row;
    .care-type{
        display: flex;
        flex-direction: column;
        input{
            display: none;
        }
        label{
            svg{
                height: 30px;
                width: 30px;
                &:hover, &:focus{
                    g{
                        fill: pink;
                   }
                    path{
                        fill: pink;
                    }
                }
                }
            }
            .clicked{
                g{
                    fill: pink;
                }
                path{
                    fill: pink;
                }
               
                
            }
        

    }
}
}