@import '../index.scss';
#plant-logs{
    .cover{
        background-image: url(../img/plant-tracker.png);
        h1{
            position:relative;
            top: 50%;
            transform: translate (0, -50%);

        }
    }
    .leger{
        display: flex;
        flex-direction: row;
        svg{

            height: 40px;
            width: fit-content;
            margin: 2rem;
        }
    }
   
.notes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:stretch;
    justify-items: center;
    @include bp-large{
        grid-template-columns: 1fr 1fr;
    }
    @include bp-medium{
        grid-template-columns: 1fr;
    }

    .note{
        border: $peach 1px solid;
        margin: 1rem;
        padding: 4rem;
        border-radius: 1rem;
        width: 30vw;
        @include bp-large{
            width: 45vw;
        }
        @include bp-medium{
            width: 90vw; 
        }
        h4{
            padding-bottom: 3rem;
        }
        h5{
            margin-bottom: 1rem;
        }
        .todos{
            margin-bottom: 2rem;
            svg{
                height: 40px;
                width: 40px;
                margin-right: 2rem;
            }

        }
        p{
            margin-bottom: 2rem;
        }
       
    }

}
.care-box{
    display: flex;
    flex-direction: row;
    .care-type{
        display: flex;
        flex-direction: column;
        input{
            display: none;
        }
        label{
            svg{
                height: 30px;
                width: 30px;
                &:hover, &:focus{
                    g{
                        fill: pink;
                   }
                    path{
                        fill: pink;
                    }
                }
                }
            }
            .clicked{
                g{
                    fill: pink;
                }
                path{
                    fill: pink;
                }
               
                
            }
        

    }
}
}