.diseasePage{
    background-image: url('https://i.imgur.com/OtjazOa.png');
}

#purple{
    color: #8198ff;
}
#lightPurple{
    background-color: #d4dbfc;
}
 #purpleBorder{
    border-color: #8198ff;
} 

@media screen and (max-width: 500px){
    .subtitle{
        font-size: 18px;
    }
  }