.diseaseCover{
    background-image: url('https://i.imgur.com/OtjazOa.png');
    padding: 50px 50px 50px 100px;
    display: grid;
    justify-content: start;
    justify-items: center;
}
.intro {
    background-color: white;
}
#purple{
    background-color: #d4dbfc;
}
#purpleFont{
    color: #8198ff;
}
#purpleBorder{
    border-color: #8198ff;
}
#purpleFontBackground{
    background-color: #d4dbfc;
    color: #8198ff;
}