.diseasePage{
    background-image: url('https://i.imgur.com/OtjazOa.png');
}

#purple{
    color: #8198ff;
}
/* background-color: #d4dbfc; */

#purpleBorder{
    border-color: #8198ff;
}
#purpleFontBackground{
    background-color: #d4dbfc;
    color: #8198ff;
}
.subtitle{
    font-family: 'Bungee';
    display: grid;
    margin: 0 auto;
    justify-items: center;

}
@media screen and (max-width: 1100px){
    .subtitle{
        font-size: 18px;
    }
  }