@import "../index.scss";

#home {
  margin-top: unset;
  //   background-image: linear-gradient(to right, #4e3cc775 0%, #f582aea3 100%);
  //   background-image: linear-gradient(to right, #4e3cc754 0%, #f582aebd 100%);
  background-image: linear-gradient(to right, #4e3cc736 0%, #f582ae5e 100%);
  padding-top: 170px;
  padding-top: 170px;
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include bp-large {
    padding-top: 80px;
    height: 550px;
  }
  @include bp-small {
    padding-top: 0;
    height: max-content;
    min-height: 450px;
    padding: 100px 3% 40px 3%;
    justify-content: flex-end;
  }

  .content {
    margin-bottom: 5rem;
    width: "100% !important";

    h2 {
      width: 65%;
      //   text-shadow: 2px -1px 2px #3a3a3a;
      font-weight: 600;
      text-align: left !important;
      @include bp-medium {
        width: unset;
      }
      @include bp-small {
        font-size: 32px;
      }
    }
    h6 {
      width: 50%;
      font-weight: 500;
      @include bp-medium {
        width: 65%;
      }
      @include bp-small {
        width: 100%;
      }
    }
  }

  .cta-hero {
    width: fit-content;

    max-width: 300px;
    @include bp-small {
      width: 100%;
      max-width: unset;
    }
  }
  button {
    padding: 0 2rem;
    margin-right: 2rem;
    width: 100%;
    max-width: 300px;
    color: $gray;
    border-radius: 5rem;
    height: 6rem;
    background-color: $forest-green;
    border: 1px solid $forest-green;
    color: $white;
    cursor: poiner;
    &:hover,
    &:focus {
      background-color: $forest-green;
      border-color: $forest-green;
      color: white;
      opacity: 0.7;
    }
    @include bp-x-large {
      margin-right: unset;
    }

    @include bp-medium {
      border-radius: 3rem;
    }

    @include bp-small {
      max-width: unset;
      height: 5rem;
    }
  }
}
.lottie-plant {
  height: auto;
  width: 45vw;
  max-width: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 250px;
  @include bp-small {
    opacity: 0.25;
    z-index: -1;
    max-width: unset;
    height: 100%;
    min-width: 500px;
  }
  @include bp-small {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    min-width: 500px;
  }
}

.home {
  .text{
    font-size: 20px;
    padding-bottom:20px;
    @include bp-large {
      font-size: 18px;
    }
  }
  .section-homepage {
    padding-bottom: 50px;
    
  }
  .section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:2rem;
    @include bp-x-large{
      flex-direction: column;
    }
  }
  .subtitle {
    font-style: normal;
  }
  h3 {
    color: $gray;
    margin: 0 0 4rem 0;
    text-align: center;
    @include bp-medium {
      margin: 0 0 2.6rem 0;
    }
  }
  .benefits {
    ul {
      display: flex;
      flex-direction: column;
      column-gap: 5vw;
      justify-items: center;
      align-items: center;
      padding: 0;
      list-style-type: none;
      justify-content: center;
      margin: 0 auto;
      row-gap: 1rem;
     
      @include bp-large {
        justify-items: end;
      }

      @include bp-small {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        justify-items: center;
        
      }
      li {
        width: 100%;
        padding-left: 10px;
        font-size: 20px;
        text-transform: none;
        @include bp-large {
          font-size: 18px;
        }
       
      }

      li:before {
        content: "\1F331 ";
        font-size: 170%; /* or whatever */
        padding-right: 5px;
      }
    }
  }
  .paragraph {
    padding: 4rem 0 0 0;
    @include bp-medium {
      padding: 2.6rem 0 0 0;
    }
    p {
      font-size: 2rem;
      @include bp-medium {
        font-size: 1.8rem;
      }
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 540px;
    @include bp-x-large{
     max-width: unset;
    }
    @include bp-large {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 2rem;
      margin: 0 auto;
    }

    @include bp-small {
      row-gap: 1rem;
      column-gap: 1rem;
      padding: 2.6rem 0;
    }

    a {
      box-shadow: 0px 0px 5px 0px #9e9e9ea1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: stretch;
      border-radius: 5rem;
      width: 45%;
      height: auto;
      max-width: 180px;
      // max-width: 300px;
      // max-height: 300px;
      text-decoration: unset;
      &:hover,
      &:focus,
      &:active {
      }
      @include bp-x-large{
        width: 22%;
      }
      @include bp-large {
        border-radius: 3rem;
        max-height: 300px;
        max-width: 260px;
      }
      @include bp-medium {
        margin: 0 auto;
        // width: 24%;
      }
      @include bp-small {
        width: calc(50% - 5px);
      }
      .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 300px;
        &:hover,
        &:focus,
        &:active {
          svg {
            animation: shake 1s infinite;
            animation-timing-function: linear;
          }
        }
        svg {
          width: 80%;
          height: auto;
          max-height: 200px;
          @include bp-small {
            max-height: 150px;
          }
        }
        h6 {
          // text-transform: uppercase;
          color: $gray;
          align-self: bottom;
          position: relative;
          margin-top: auto;
          @include bp-small {
            font-size: 14px;
          }
        }
      }
    }
  }
  .header {
    margin-top: unset;
    padding-top: 0;
    @include bp-large {
      margin-bottom: 3rem;
    }
    @include bp-small {
      margin-bottom: 2rem;
    }
  }
  .plants-cta {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    align-items: center;
    @include bp-large {
      grid-template-columns: 1fr;
    }
    .plants-image {
      background-image: url("https://res.cloudinary.com/dwz87zxoy/image/upload/v1676090917/plants-cover_ijwzrp.png");
      height: 40vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      @include bp-large {
        height: 75vw;
      }
    }
    .info {
      @include bp-large {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;
      }
      @include bp-medium {
        padding-bottom: 5rem;
      }
      a {
        @include bp-small {
          width: 100%;
        }
        .home-button {
          transition: all 0.5s ease-in-out;
          color: white;
          border: $forest-green solid 1px;
          background-color: $forest-green;
          margin: 0 auto;
          width: 100%;
          max-width: 350px;
          @include bp-large {
            width: 350px;
          }
          @include bp-small {
            max-width: unset;
            width: 100%;
          }
          &:hover,
          &:focus {
            transition: all 0.5s ease-in-out;
            background-color: white;
            border: $forest-green solid 1px;
            color: $gray;
          }
        }
      }
      h5 {
        text-transform: none;
        padding-bottom: 2rem;
        color: $gray;
        font-weight: 400;
        @include bp-large {
          padding-bottom: 2rem;
          width: 90%;
          text-align: center;
        }
        @include bp-medium {
          width: 100%;
        }
      }
    }
  }
  .quote {
    font-size: 3.8rem;
    font-family: "Raleway";
    border-top: 1px #9278d3 solid;
    border-bottom: 1px #9278d3 solid;
    color: #9278d3;
    padding: 2rem 0;
    font-weight: 500;
    text-align: center;
    margin: 4rem 0;
    @include bp-medium {
      font-size: 3.4rem;
      margin: 7rem auto;
      margin: 2.6rem 0;
    }
    @include bp-small {
      font-size: 2.8rem;
    }
  }
  .tracker-cta {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    align-items: center;
    @include bp-large {
      grid-template-columns: 1fr;
    }
    .plants-image {
      grid-column: 1/2;
      grid-row: 1;
      background-image: url("https://res.cloudinary.com/dwz87zxoy/image/upload/v1676435307/Group_2_1_jv9rl1.png");
      height: 40vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
      @include bp-large {
        height: 75vw;
        grid-column: unset;
        grid-row: unset;
        background-position: center;
      }
    }
    .info {
      grid-column: 2/3;
      @include bp-large {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;
        grid-column: unset;
      }
      @include bp-medium {
        padding-bottom: 5rem;
      }
      a {
        @include bp-small {
          width: 100%;
        }
        .home-button {
          transition: all 0.5s ease-in-out;
          background-color: $forest-green;
          color: white;
          border: $forest-green solid 1px;
          margin: 0 auto;
          width: 100%;
          max-width: 350px;
          @include bp-large {
            width: 350px;
          }
          @include bp-small {
            max-width: unset;
            width: 100%;
          }
          &:hover,
          &:focus {
            transition: all 0.5s ease-in-out;
            background-color: $white;
            border: $forest-green solid 1px;
            color: $gray;
          }
        }
      }
      h5 {
        text-transform: none;
        padding-bottom: 2rem;
        color: $gray;
        font-weight: 400;
        @include bp-large {
          padding-bottom: 2rem;
          width: 90%;
          text-align: center;
        }
        @include bp-medium {
          width: 100%;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
