@import '../index.scss';

#home{
    background-color: $blush;
    .image{
        background-image: url('../img/home-image.svg');
        @include bp-x-large{
            height: 45rem;
        }
        @include bp-large{
            height: 250px;
            background-position: center;
        }
    }
    .header{
        .buttons{
          display: flex;
          flex-direction: row;
          column-gap: 1rem;
          @include bp-large{
            justify-content: center; 
          }
          @include bp-small{
            flex-direction:column;
            width: 75%;
            margin: 0 auto;
            padding-bottom: 2rem;
          }
          button{
            height: 5rem;
            padding: 0 2rem;
            margin-right: 2rem;
            width: 45%;
            color: $gray;
            max-width: 220px;
            border-radius: 3rem;
            @include bp-small{
                max-width: unset;
                width: 100%;
            }
          }
          #one{
            background-color: $forest-green;
            color: white;
            &:hover, &:focus{
                background-color: $light-gray;
                color: $gray;
              }
            @include bp-x-large{
              color: white;
              margin-right: unset;
              
            }
            @include bp-small{
                margin-bottom: 1.5rem;
            }
          }
          #two{
            background-color: white;
            background-color: white;
            &:hover, &:focus{
                background-color: $light-gray;
              }
            @include bp-x-large{
              margin-right: unset;
             
            }
          }
        }
    }
}
    
        
           
            
        