@import '../index.scss';
.pestPage {
   
    .row{
        .card{
            object-fit: cover;
            
            .image{
                height:100%;
                max-height: 300px;
                margin: unset;
                @include bp-large{
                    max-height: 200px;
                }
                
                
            }
            .plant-id{
                margin-top: auto;
            }
        }
    }
}

 

