@import '../index.scss';
.pestPage {
   
    .column{
        display: flex;;
        flex-direction: column;
        width: 100%;
        row-gap: 2rem;
        .card{
           .accordion{
               display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                border: 1px solid $forest-green;
                height: 5rem;
                padding: 0 2rem;
                margin-right: 2rem;
                border-radius: 3rem;
                position: relative;
                h5{
                    margin-bottom: unset;
                }
                svg{
                    fill: $forest-green;
                    position: absolute;
                    right: 2rem;
                    height: 20px;
                    width: 20px;
                }
                
           }
            
            
            .hidden{
                display:none;
            }
            .plant-id{
                margin-top: auto;
            }
        }
    }
}

 

