@import '../index.scss';
.pestPage {
   
    .column{
        display: flex;;
        flex-direction: column;
        width: 100%;
        row-gap: 2rem;
        .card{
           .accordion{
               display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                border: 1px solid $forest-green;
                
           }
            
            
            .hidden{
                display:none;
            }
            .plant-id{
                margin-top: auto;
            }
        }
    }
}

 

