@import '../sass/_colors.scss';
@import "../sass/_break-points.scss";

.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include bp-xx-large{
        grid-template-columns: 1fr 1fr 1fr; 
    }
    @include bp-large{
        grid-template-columns: 1fr 1fr;   
    }
    @include bp-medium{
        grid-template-columns: 1fr 1fr;   
        width: 99%;
    }
    @include bp-small{
        grid-template-columns: 1fr;   
        width: unset;
    }
  
    .card{
    
        height: fit-content;
        margin: 1rem;
        box-shadow: 0px 0px 11px -3px lightgray;
        overflow: hidden;
        border-radius: 1rem;
        position: relative;
        max-width: 550px;
        max-height:900px;
        display:grid;
        

        
        
            .image{
                overflow: hidden;
                width: 100%;
                height: 20vw;
                max-width: 550px;
                max-height:500px;
                position: relative;

              
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                    background: rgba(234, 236, 232, .2);
                    &:hover{
                        background: rgba(234, 236, 232, 1)
                    }
                }
                
                // @include bp-x-large{
                //     width: 30vw;
                //     height: 30vw;
                // }
                // @include bp-large{
                //     width: 20vw;
                //     height: 20vw;
                // }
                // @include bp-medium{
                //     width: 80vw;
                //     height: 80vw;
                // }
                // @include bp-small{
                //     width: 90vw;
                //     height: 90vw;
                // }
                
                .img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    
                    
                        
                     
                }
            }
            h3{
                margin-bottom: unset;
                padding: 3rem 0 0 10%;
            }
            p{
                font-style: italic;
                color: $gray;
                max-width: 100%;
                padding-left: 10%;
                margin-top: .5rem;
                height: 70px;
            }
            button{
                width: 100%;
                margin: 1rem auto;
                border:none;
                height: 5rem;
                background-color: $blush;
                margin-bottom: unset;
                color: $forest-green;
                font-size: 1.1rem;
                font-weight: 700;
                text-transform: uppercase;
                &:hover{
                    &:before {
                    background: rgba(234, 236, 232, 1);
                    }
                }
                

            }
        
    }
    
}

.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    max-height:100vh;
    width: 100%;
    max-width: 100vw;;
    background-color:rgba(46, 44, 47, .6);
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    transition: top .5s ease-in-out;
    z-index: 1;
    .modal-card{
        margin: 5%;
        background-color: $forest-green;
        width: 50%;
        max-width: 650px;
        border-radius: 1rem;
        @include bp-medium{
            width: 80%;
            margin: 10% 0;
        }
    }
    img{
        height: auto;
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin: 0 auto;
        object-position: top;
        @include bp-small{
            height: 200px;
        }
   }
    .plant-info{
        width: 80%;
        margin: 0 auto;
        h2{
            color: $peach;
            margin-top: 4rem;
            margin-bottom: 2rem;

        }
        div{
            display: flex;
            flex-direction: row;
            padding-bottom: 1rem;
            h4{
                margin-bottom: unset;
                width: fit-content;
            }
        }
        p{
           
            color: $white;
            margin-bottom: 1.5rem;
        }
        
        ul{
            padding-left: unset;
            color: $blush;
            margin-top: unset;
            li{
                list-style: none;
                margin-top: 1rem;
                svg{
                    height: 2rem;
                    width: 2rem;
                    path{
                        fill: $peach;
                    }
                }
            }
        }
    }
    button{
       width: 100%;
       height: 7rem;
       background-color: $peach;
       border: unset;
       box-shadow: unset;
       color: $forest-green;
       margin-top: 5rem;
       margin-bottom: unset;
       border-radius: 0 0 1rem 1rem;
    }
}
.hide{
  
    top: -100%;
    transition: top .5s ease-in-out;
}