.plantsCover{
    background-image: url('https://i.imgur.com/cZDaNzb.png');   
}
#lightPink{
    background-color: #f4d2e0;
}
#pink{
    color:#ff87b9 ;
}
.searchBar{
    display: flex;
    padding: 11px;
    font-size: 21px;
    margin: 50px  auto;
    outline: none;
}
.column{
    display:grid; 
    justify-content: center;
    justify-items: center;
    padding: 50px; 
    background-color: white; 
    border: white solid 1px;
    border-radius: 20px;
    filter:drop-shadow(10px 10px 1px rgba(237, 240, 77, 0.801) );
    margin: 30px;
    color:gray;
    height: 400px;
    width: 300px;
}
.img{
    display: grid;
    margin: 5px auto;
    width: 200px;
    height: 200px;
    border: 5px double #ff87b9; 
    border-radius: 50%;
    padding: 10px auto;
    background-color: white;
}
.popUpCardPink{
    display: grid;
    width: 200px;
    height: 200px;
    border: 5px double #ff87b9; 
    border-radius: 50%;
    margin: 1px auto;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
}
/* .itemname.hover:hover{
    color: #44c398;
} */
