:root {
    --background-color: var(-- #ebf7e3);
    --button-color: var(--#9bd770);
    --font-color: var(--#1b3409);
    --headings-color: var(--#66b032);
  
}
.cards{
    height: 250px;
    width: 250px;
    border: 5px double #66b032; 
    border-radius: 50%;
}
.allPlants{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
}
.plant{
    display:grid;
    grid-template-columns: 1fr ;
    justify-content: center; 
    justify-items: start; 
    padding: 20px; 
    background: white; 
    border: black solid 1px;
    margin: 30px;
}
ul{
    display: grid;
    justify-items: start; 
    justify-content: start;
    padding:0;
    
}
li{
    list-style: none;
    padding: 5px;  
    justify-items: start;   
}

img.cards{
    margin: 30px auto;
}
.searchBar{
    display: flex;
  padding: 11px;
  font-size: 21px;
  margin: 30px  auto;
}