form, .post{
   width: 600px;
   margin: 100px;
   background-color:#d4dbfc;
   padding: 50px;
   border: white solid 1px;
   border-radius: 20px;
   filter:drop-shadow(10px 10px 1px rgba(237, 240, 77, 0.801) );
   margin: 30px;
   color:gray;
   margin: 50px auto;
}
.homeTracker{
  background-image: url('https://i.imgur.com/KGOTSuY.png')
}


@media screen and (max-width: 800px){
    form, .post{
        width: 400px;
    }
  } 


@media screen and (max-width: 700px){
    form, .post{
        width: 350px;
    }
  } 
  @media screen and (max-width: 450px){
    form, .post{
        width: 300px;
    }
    .trackerImage{
      width: 150px;
    }
  } 
  @media screen and (max-width: 390px){
    form, .post{
        width: 270px;
    }
  
  } 


